@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #047aed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: none;  
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

h1 > span {
  font-size: 3rem;
  font-weight: 900;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  margin: 0 5px;
  padding: 10px;
}

.navbar a:hover {  
  border-bottom: 2px solid #fff;
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */
.showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 400px;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase-form {
  height: 350px;
  position: relative;
  top: 60px;
  width: 400px;
  padding: 40px;
  z-index: 100;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4b4becd;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

/* Utilities */
.container {
  margin: 0 auto;
  max-width: 1100px;
  overflow: hidden;
  padding: 0 40px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 100%;
}



































